@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body{
    background-color: #232323;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.container{
    max-width: 600px;
    margin: 0 auto;
}
.square{
    background-color: #bfbfbf;
    width: 30%;
    cursor: pointer;
    border-radius: 15%;
    float:left;
    margin: 1.66%;
    padding-bottom: 30%;
    -webkit-transition: background .6s;
    -moz-transition: background .6s;
    transition: background .6s;
}
h1{
    color: white;
    text-align: center;
    background: steelblue;
    margin: 0;
    font-weight: normal;
    line-height: 1.1;
    padding: 20px 0;   
}
#colorDisplay{
    text-transform: uppercase;
    font-size: 200%;
}
#stripe{
    background: white;
    height: 30px;
    text-align: center;
    margin: 0;
    
}
button:hover, .selected{
    background: steelblue;
    color: white;
}
button{
    margin: 0;
    border: none;
    background: white;
    text-transform: uppercase;
    height: 100%;
    cursor: pointer;
    letter-spacing: 1px;
    color: steelblue;
    font-weight: 700;
    font-size: inherit;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    outline: none;
}
#message{
    display: inline-block;
    width:20%;
}
.github-ribbon{
    float:right;

}
.github-ribbon img{
    height: 149px;
    width: 149px;
}